*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1F2632;  
    font-family: 'Manrope', sans-serif;
    display: flex;
    height: 700px;
    justify-content: center;
    align-items: center;
}

.contenedorAvisos {
    background-color: #323A49;
    width: 90%;
    margin: auto;
    padding: 1.5%;
    border-radius: 15px;
    position: relative;
}

.tituloAviso {
    font-size: 13px;
    text-align: center; 
    text-transform: uppercase;
    letter-spacing: 3.5px;
    margin: 0;
    margin-top: 1%;
    color: #52FFA8;
}

.textoAviso {
    font-size: 28px;
    text-align: center;
    color: rgba(255, 255, 255, 0.836);
    margin: 5%;

}

.divisorEscritorio {
    display: block;
    margin: auto;
    margin-bottom: 7%;
}

.divisorCelular {
    display: block;
    margin: auto;
    margin-bottom: 7%;
}

.botonDado {
    display: block;
    margin: auto;
    margin-top: 4%;
    border-radius: 50%;
    padding-top: 3.5%;
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-bottom: 3%;
    background-color: #52FFA8;
    border: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}

.dinamico {
    box-shadow: 0 0 20px 3px #52FFA8;
}

/* Escritorio */
@media  screen and (min-width: 1400px) {
    .divisorCelular {
        display: none;
    }
    .contenedorAvisos {
        width: 35%;
    }
}

/* Celular */
@media  screen and (min-width: 375px) and (max-width: 700px) {
    .divisorEscritorio {
        display: none;
    }
}

/**/
@media  screen and (min-width: 1200px) and (max-width: 1400px)  {
    .divisorCelular {
        display: none;
    }
    .contenedorAvisos {
        width: 42%;
    }
}


@media  screen and (min-width: 900px) and (max-width: 1200px)  {
    .divisorCelular {
        display: none;
    }
    .contenedorAvisos {
        width: 54%;
    }
}

@media  screen and (min-width: 700px) and (max-width: 900px)  {
    .divisorCelular {
        display: none;
    }
    .contenedorAvisos {
        width: 70%;
    }
}

@media  screen and (max-width: 375px) {
    .divisorEscritorio {
        display: none;
    }
    .divisorCelular {
        display: none;
    }
}

/*
body {
    background-color: #1F2632;  
    font-family: 'Manrope', sans-serif;
}

.contenedorAvisos {
    background-color: #323A49;
    width: 35%;
    margin: auto;
    padding: 1.5%;
    border-radius: 15px;
    position: relative;
}

.tituloAviso {
    font-size: 13px;
    text-align: center; 
    text-transform: uppercase;
    letter-spacing: 3.5px;
    margin: 0;
    margin-top: 1%;
    color: #52FFA8;
}

.textoAviso {
    font-size: 28px;
    text-align: center;
    color: rgba(255, 255, 255, 0.836);
    margin: 5%;

}

.divisorEscritorio {
    display: block;
    margin: auto;
    margin-bottom: 7%;
}

.divisorCelular {
    display: block;
    margin: auto;
    margin-bottom: 7%;
}

.botonDado {
    display: block;
    margin: auto;
    margin-top: 4%;
    border-radius: 50%;
    padding-top: 3.5%;
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-bottom: 3%;
    background-color: #52FFA8;
    border: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}

.dinamico {
    box-shadow: 0 0 20px 3px #52FFA8;
}

/*
.contenedorAvisos {
    background-color: #323A49;
    position: absolute; 
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 36%;
    height: 52%;
    padding: 1%;
    border-radius: 15px;
    font-family: 'Manrope', sans-serif;
}

.tituloAviso {
    font-size: 13px;
    text-align: center; 
    text-transform: uppercase;
    letter-spacing: 3.5px;
    margin-top: 5%;
    color: #52FFA8;
}

.textoAviso {
    font-size: 28px;
    text-align: center;
    color: rgba(255, 255, 255, 0.836);
    margin: 5%;
}

.divisorEscritorio {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);  
}

.botonDado {
    position: absolute;
    border-radius: 50%;
    padding-top: 3.5%;
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-bottom: 3%;
    background-color: #52FFA8;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
}

.dinamico {
    box-shadow: 0 0 20px 3px #52FFA8;
}
*/



